<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <!-- Company name with logo, that acts as link to landing page-->
            <a class="navbar-brand text-muted" th:href="@{/}"><i class="fas fa-biking me-3"></i>Kurierservice</a>

            <!-- If user not logged in, shows login button. Otherwise navigation icon, that opens up sidebar, by toggling "offcanvas" -->
            <div class="float-end">
                <a th:unless="${#httpServletRequest.remoteUser}" class="btn btn-outline-success" th:href="@{/login}">Login</a>
                <button class="btn btn-outline-secondary px-3 py-1" th:if="${#httpServletRequest.remoteUser}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>
