<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content" >

    <!-- Success alert which is shown when user was redirected to this page after registration -->
    <div th:if="${registeredSuccesfully}" class="alert alert-success text-center" id="successful-registration-alert" role="alert" style="width: 60%; margin: auto;">
        <strong>Sie haben sich erfolgreich registriert</strong>
    </div>

    <div class="mt-5" style="width: 50% ; margin: auto">
        <!-- Title -->
        <div class="my-4">
            <h1 class="text-muted">Login</h1>
        </div>

        <!-- Red text, in case login was unsuccessful-->
        <div class="mb-4" th:if="${param.error}">
            <strong class="text-danger">Login fehlgeschlagen</strong>
        </div>

        <!-- Login form -->
        <form method="post" th:action="@{/login}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="inputUsername" placeholder="">
                <label for="inputUsername">Nutzername</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="">
                <label for="inputPassword">Passwort</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Anmelden</button>
            </div>
        </form>
    </div>

    <!-- jQuery that shows the alert fade animation -->
    <script th:inline="javascript">
        const registeredSuccesfully = [[${registeredSuccesfully}]];

        $(function() {
            if (registeredSuccesfully) {
                $("#successful-registration-alert").fadeTo(2000, 500).slideUp(500, function() {
                    $("#successful-registration-alert").slideUp(500);
                });
            }
        });
    </script>

</div>
</body>
</html>
