<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content" style="width: 80%" class="mx-auto">
    <div class="d-sm-flex justify-content-between align-items-center my-5">
        <h1 class="text-muted">Auftragsübersicht</h1>
        <a th:if="${userRole == 'CUSTOMER'}" class="btn btn-primary btn-sm px-3" th:href="@{jobs/create}">
            Auftrag erteilen
        </a>
    </div>

    <h5 th:if="${userRole == 'COURIER'}" class="text-muted">Neue Aufträge</h5>
    <div th:if="${userRole == 'COURIER'}" class="table-responsive mb-5">
        <table class="table align-middle text-muted">
            <thead>
            <tr>
                <th scope="col" colspan="1" style="width: 20%">Erstellt am </th>
                <th scope="col" colspan="1" style="width: 15%">Lieferart</th>
                <th scope="col" colspan="1" style="width: 20%">Abholadresse</th>
                <th scope="col" colspan="1" style="width: 20%">Stadt</th>
                <th scope="col" colspan="1" style="width: 25%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${newJobs}" style="white-space: nowrap;">
                <td th:text="${#temporals.format(job.getOrderTimeStamp(), 'dd.MM.yyyy HH:mm')} + ' Uhr'"></td>
                <td th:text="${job.getType().toString()}"></td>
                <td th:inline="text" th:text="|${job.getPickUpAddress().getStreet()}, ${job.getPickUpAddress().getStreetNumber()}|"></td>
                <td th:text="${job.getPickUpAddress().getCity()}"></td>
                <td class="d-grid gap-2 d-flex justify-content-end">
                    <a class="btn btn-primary btn-sm px-3"  data-bs-toggle="tooltip" data-bs-placement="left" title="Auftragdetails aufrufen" th:href="${'/jobs/' + job.getId()}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a class="btn btn-success btn-sm px-3"  data-bs-toggle="tooltip" data-bs-placement="right" title="Auftrag annehmen" th:href="${'/jobs/' + job.getId() + '/accept'}">
                        <i class="fas fa-check"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${newJobs.size() == 0}">
            <p class="text-muted">
                Es sind momentan keine neuen Aufträge erteilt worden
            </p>
        </div>
    </div>

    <h5 th:if="${userJobs.size() != 0}" class="text-muted">Meine Aufträge</h5>
    <div th:if="${userJobs.size() != 0}" class="table-responsive mb-5">
        <table class="table align-middle text-muted">
            <thead>
            <tr>
                <th scope="col" colspan="1" style="width: 20%">Erstellt am </th>
                <th scope="col" colspan="1" style="width: 15%">Lieferart</th>
                <th scope="col" colspan="1" style="width: 20%">Status</th>
                <th scope="col" colspan="1" style="width: 45%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${userJobs}">
                <td th:text="${#temporals.format(job.getOrderTimeStamp(), 'dd.MM.yyyy HH:mm')} + ' Uhr'"></td>
                <td th:text="${job.getType().toString()}"></td>
                <td th:text="${job.getStatus().toString()}"></td>
                <td class="d-grid gap-2 d-flex justify-content-end">
                    <a class="btn btn-primary btn-sm px-3"  data-bs-toggle="tooltip" data-bs-placement="left" title="Auftragdetails aufrufen" th:href="${'/jobs/' + job.getId()}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a th:if="${userRole == 'COURIER' && !job.getStatus().name().equals('DELIVERED') && !job.getStatus().name().equals('CANCELLED')}" class="btn btn-success btn-sm px-3"  data-bs-toggle="tooltip" data-bs-placement="right" title="Status updaten" th:href="${'/jobs/' + job.getId() + '/accept'}">
                        <i class="fas fa-forward"></i>
                    </a>
                    <a th:if="${userRole == 'CUSTOMER' && job.status.name().equals('NEW')}" class="btn btn-danger btn-sm px-3"  data-bs-toggle="tooltip" data-bs-placement="right" title="Auftrag stornieren" th:href="${'/jobs/' + job.getId() + '/cancel'}">
                        <i class="fas fa-times"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${userJobs.size() == 0}" class="mb-5">
        <div th:if="${userRole == 'COURIER'}">
            <h5 class="text-muted">Es sieht hier noch ziemlich leer aus. Oben werden neue Aufträge gelistet, die Kuriere annehmen können.</h5>
        </div>
        <div th:if="${userRole == 'CUSTOMER'}">
            <h5 class="text-muted mb-2">Es sieht hier noch ziemlich leer aus. Erstelle den ersten Auftrag</h5>
            <br>
            <a th:if="${userRole == 'CUSTOMER'}" class="btn btn-primary btn-sm px-3" th:href="@{jobs/create}">
                Auftrag erstellen
            </a>
        </div>
    </div>

    <script th:inline="javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</div>
</body>
</html>


