<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content" style="width: 80%" class="mx-auto">

    <!-- Success alert which is shown when customer was redirected to this page after creating a new job -->
    <div th:if="${isNewJob}" class="alert alert-success text-center" id="new-job-alert" role="alert" style="width: 60%; margin: auto;">
        <strong>Auftrag wurde erfolgreich erteilt</strong>
    </div>

    <!-- Success alert which is shown when customer was redirected to this page after editing an existing job -->
    <div th:if="${jobEditedSuccessfully}" class="alert alert-success text-center" id="edit-alert" role="alert" style="width: 60%; margin: auto;">
        <strong>Auftragsdaten wurden erfolgreich gespeichert</strong>
    </div>

    <!-- Title, navigation button to previous page and buttons to edit job, that are shown only to costumers and depend on job status -->
    <div class="d-sm-flex justify-content-between align-items-center my-5">
        <div class="d-flex align-items-center">
            <a th:href="@{/jobs}" style="position: relative; right: 30px; bottom: 18px;" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Zurück zu meinen Aufträgen"><i class="fas fa-chevron-left"></i></a>
            <h1 class="text-muted" style="position: relative; right: 10px;">
                Details zum Auftrag
                <p th:text="'(Erstellt am ' + ${#temporals.format(job.getOrderDate(), 'dd.MM.yyyy')}" class="fs-6 fw-light"></p>
            </h1>
        </div>
        <a th:if="${userRole == 'CUSTOMER' && job.getStatus().toString().equals('Neu')}" class="btn btn-primary btn-sm px-3"  th:href="@{/jobs/{id}/edit(id=${job.getId()})}">
            Auftrag bearbeiten
        </a>
        <a th:if="${userRole == 'CUSTOMER' && job.getStatus().toString().equals('Angenommen')}" class="btn btn-primary btn-sm px-3"  th:href="@{/jobs/{id}/edit(id=${job.getId()})}">
            Lieferadresse bearbeiten
        </a>
    </div>

    <div class="row g-3">

        <!-- Left side with data about job status, courier (if any accepted the job) and job type -->
        <div class="col-md-6">
            <div class="mb-5">
                <h3 class="text-muted">
                    Auftragsstatus
                </h3>
                <p class="h6 text-muted" th:text="${job.getStatus()}"></p>
            </div>

            <div th:if="${job.getCourier() != null}" class="mb-5">
                <h3 class="text-muted">
                    Ihr Kurier
                </h3>
                <p class="h6 text-muted">[[${job.getCourier().getFirstName()}]] [[${job.getCourier().getLastName()}]]</p>
            </div>

            <div class="mb-5">
                <h3 class="text-muted">
                    Lieferart
                </h3>
                <p class="h6 text-muted" th:text="${job.getType()}"></p>
            </div>
        </div>

        <!-- Right side with data about pickup and delivery addresses -->
        <div class="col-md-6">
            <h3 class="text-muted">
                Abholadresse
            </h3>
            <address class="text-muted mb-5">
                [[${job.getPickUpAddress().getStreet()}]], [[${job.getPickUpAddress().getStreetNumber()}]]
                <br>
                [[${job.getPickUpAddress().getZipCode()}]], [[${job.getPickUpAddress().getCity()}]]
                <br>
                Deutschland
            </address>

            <h3 class="text-muted">
                Lieferadresse
            </h3>
            <address class="text-muted mb-5">
                [[${job.getDeliveryAddress().getStreet()}]], [[${job.getDeliveryAddress().getStreetNumber()}]]
                <br>
                [[${job.getDeliveryAddress().getZipCode()}]], [[${job.getDeliveryAddress().getCity()}]]
                <br>
                Deutschland
            </address>
        </div>
    </div>

    <!-- jQuery that shows the alert fade animations -->
    <script th:inline="javascript">
        const isNewJob = [[${isNewJob}]];
        const jobEditedSuccessfully = [[${jobEditedSuccessfully}]];

        $(function() {
            if (isNewJob) {
                $("#new-job-alert").fadeTo(2000, 500).slideUp(500, function() {
                    $("#new-job-alert").slideUp(500);
                });
            }
            if (jobEditedSuccessfully) {
                $("#edit-alert").fadeTo(2000, 500).slideUp(500, function() {
                    $("#edit-alert").slideUp(500);
                });
            }
        });
    </script>

</div>
</body>
</html>


